# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
.venv/
build/
dist/
.eggs/
*.egg-info/
.python-version
env/
ENV/
env.bak/
venv.bak/

# Flask instance folder
instance/

# SQLite database files
*.db
*.sqlite3

# VS Code
.vscode/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

# Vite
dist/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# dotenv
.env
